<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>springboot-thymeleaf demo</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>博客ID</td>
        <td>博客内容</td>
        <td>发送者id</td>
        <td>日期</td>
    </tr>
    </thead>
    <tr th:each="item: ${comments}">
        <td th:text="${item.blogId}"></td>
        <td th:text="${item.content}"></td>
        <td th:text="${item.senderId}"></td>
        <td th:text="${item.date}"></td>
    </tr>
</table>
</body>
</html>
