<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TJ Blog</title>

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <!-- Custom styles for this template -->
  <link th:href="@{/css/clean-blog.min.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <div class="navbar-nav" id="navbarResponsive">
        <ul class="navbar-nav ml-auto list-unstyled" style="margin-top: 18px">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/index}" style="font-size:18px">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/post}" style="font-size:18px" th:unless="${session.currentUser == null}">Sample Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/postBlog}" style="font-size:18px" th:unless="${session.currentUser == null}">Send Blog!</a>
          </li>
          <li class="nav-item" th:if="${session.currentUser == null}">
            <a class="nav-link" th:href="@{/login}" style="font-size:18px">Sign In!</a>
          </li>
          <li class="nav-item" th:unless="${session.currentUser == null}">
            <a class="nav-link" th:href="@{/about}" style="font-size:18px" th:text="${session.currentUser}">User</a>
          </li>
          <li class="nav-item" th:unless="${session.currentUser == null}">
            <a class="nav-link" th:href="@{/logOut}" style="font-size:18px" th:text="'Log out'">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--  <nav th:insert="fragments :: navbar"></nav>-->

  <!-- Page Header -->
  <header class="masthead" th:style="'background-image:url(' + @{/img/home-bg.jpg} + ');z-index: -1'">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>TJ Blog</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div th:text="'Please sign in to send blogs!'" th:if="${session.currentUser == null}" class="font-weight-bold text-center" style="font-size: 28px"></div>
    <div th:colspan="3" id="comment-form" class="floating-label-form-group" style="margin-left: 20%" th:unless="${session.currentUser == null}">
      <form role="form" th:action="@{'/post/sendBlog/' + ${session.currentUser}}">
        <fieldset>
          <div class="font-weight-bold text-left" style="font-size: 28px">Send a new blog</div>
          <!--/*@thymesVar id="registerMsg" type=""*/-->
          <p style="color: red" th:text="${sendBlogMsg}" th:if="${not #strings.isEmpty(sendBlogMsg)}"></p>
          <div class="form-group">
            <textarea type="blogTitle" name="blogTitle" id="blogTitle" class="form-control input-lg" placeholder="Blog Title..."></textarea>
            <textarea type="blogContent" name="blogContent" id="blogContent" class="form-control input-lg" placeholder="Write something here..."></textarea>
          </div>
          <div class="row">
            <div class="row align-items-left" style="margin-left: 2%">
              <input type="submit" class="btn btn-lg btn-primary" style="color: black;" value="Send!">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <hr>

  <div class="container">
    <div th:if="${#lists.isEmpty(blogs)}">
      <div class="font-weight-bold text-center" style="font-size: 28px">No blog for now! Ask your friends to join!</div>
    </div>
    <ul class="container">
      <li th:each="blog : ${blogs}">
        <a th:href="@{'/post/' + ${blog.getId()}}"><h3 th:colspan="3" th:text="'Title: '+${blog.getTitle()}" class="font-weight-bold">Title</h3></a>
        <div th:colspan="3" th:text="'Preview: '+${blog.getContent()}" class="font-weight-normal">Content</div>
        <div th:colspan="3" th:text="'Author: '+${blog.getAuthor()}" class="font-weight-normal">Author</div>
<!--        <div th:colspan="3">-->
<!--          <span th:text="${blog.getDate().get(1)}+' /'" class="font-weight-light"></span>-->
<!--          <span th:text="${blog.getDate().get(2)+1}+' /'" class="font-weight-light"></span>-->
<!--          <span th:text="${blog.getDate().get(5)}" class="font-weight-light"></span>-->
<!--        </div>-->
      </li>
    </ul>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>
<!--  <footer th:replace="fragments :: footer"></footer>-->

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Custom scripts for this template -->
  <script th:src="@{/js/clean-blog.min.js}"></script>

</body>

</html>
