<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
</head>
<body>
<script th:src="@{../static/js/login.js}"></script>
<script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
<script>
    function MD5() {
        var password = document.getElementById("password");
        var hiddenPassword = document.getElementById("hiddenPassword");
        hiddenPassword.value = md5(password.value);
        return true;
    }
</script>
<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" th:action="@{/user/login}" onsubmit="MD5()">
                <fieldset>
                    <h2>Please Sign In</h2>
                    <hr class="colorgraph">
                    <p style="color: red" th:text="${loginMsg}" th:if="${not #strings.isEmpty(loginMsg)}"></p>
                    <p style="color: limegreen" th:text="${successMsg}" th:if="${not #strings.isEmpty(successMsg)}"></p>
                    <div class="form-group">
                        <label for="email"></label><input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="password"></label><input type="password" id="password" name="password" class="form-control input-lg" placeholder="Password">
                        <label for="hiddenPassword"></label><input type="hidden" id="hiddenPassword" name="hiddenPassword">
                    </div>
<!--                    <span class="button-checkbox">-->
<!--					<button type="button" class="btn" data-color="info">Remember Me</button>-->
<!--                    <label for="remember_me"></label><input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">-->
<!--					<a href="" class="btn btn-link pull-right">Forgot Password?</a>-->
				</span>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a th:href="@{/register}" class="btn btn-lg btn-primary btn-block">Register</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>