<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TJ Blog</title>

  <!-- Bootstrap CSS -->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

  <!-- Custom fonts for this template -->
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles-->
  <link th:href="@{/css/clean-blog.css}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}">TJ Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="navbar-nav" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/index}" style="font-size:18px">Home</a>
          </li>
          <li class="nav-item" th:if="${session.currentUser == null}">
            <a class="nav-link" th:href="@{/login}" style="font-size:18px">Sign In!</a>
          </li>
          <li class="nav-item" th:unless="${session.currentUser == null}">
            <a class="nav-link" th:href="@{/logOut}" style="font-size:18px" th:text="'Log out'">Log out</a>
          </li>
          <li class="nav-item" th:unless="${session.currentUser == null}" >
            <a class="nav-link" th:href="@{'/about/' + ${session.userId}}" style="font-size:18px" th:text="${session.currentUser}">User</a>
          </li>
          <li>
            <a class="nav-link" th:href="@{'/about/' + ${session.userId} + '/addAvatar'}">
              <img th:src="'data:image/png;base64,' + ${me.getUserImage()}" style="width: 40px; height: 40px; border-radius:50%; border: 3px solid #0b2e13;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" th:style="'background-image:url(' + @{/img/sp-all-2.jpg} + ');'">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <div th:text="${blog.getTitle()}" style="font-size: 72px">Title</div>
            <a th:href="@{'/about/' + ${blog.getAuthorId()}}" style="float: left"> <img th:src="'data:image/png;base64,' + ${avatar}" style="width: 64px; height: 64px; border-radius: 50%; border: 5px solid #0b2e13"></a>
            <a th:text="${blog.getAuthorNickname()}" style="font-size: 48px; color: white; position: relative; left: 2%" th:href="@{'/about/' + ${blog.getAuthorId()}}" >Author Name</a>
            <div th:text="${blog.getFormattedTime()}" style="font-size: 48px">Time</div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="font-weight-bold mt-5 mb-5" style="font-size: 32px">
          <span th:utext="${blog.getContent()}"></span>
        </div>
      </div>
    </div>
  </article>

  <hr>
    <div th:text="'Please sign in to send comments!'" th:if="${session.currentUser == null}" class="container font-weight-bold text-center" style="font-size: 32px"></div>
    <div id="comment-form" class="container mt-5 mb-5" th:unless="${session.currentUser == null}">
      <form role="form" th:action="@{'/post/sendComment/' + ${session.userId} + '/' + ${blog.getBlogId()}}">
        <fieldset>
          <div class="font-weight-bold" style="font-size: 28px">Send a comment</div>
          <!--/*@thymesVar id="registerMsg" type=""*/-->
          <p style="color: red" th:text="${commentInvalidMsg}" th:if="${not #strings.isEmpty(commentInvalidMsg)}"></p>
          <div class="form-group">
            <label for="commentContent"></label><textarea type="commentContent" name="commentContent" id="commentContent" class="form-control input-lg" placeholder="Comment here..."></textarea>
          </div>
          <div class="row" style="margin-left: 2%">
            <div class="row align-items-center">
              <input type="submit" class="btn btn-primary btn-block" style="color: black;" value="Send!">
            </div>
          </div>
        </fieldset>
      </form>
  </div>

  <div class="container mt-5 mb-5">
    <div th:if="${#lists.isEmpty(comments)}">
      <div class="font-weight-bold text-center" style="font-size: 28px">No comment for now!</div>
    </div>
    <ul class="container timeline">
      <li th:each="comment : ${comments}">
        <a th:href="@{'/about/' + ${comment.getSenderId}}" th:text="${comment.getSenderNickname()}" class="font-weight-bolder" style="font-size: 24px"></a>
        <p th:text="${'At: ' + comment.getFormattedTime()}" class="font-weight-bolder" style="font-size: 24px"></p>
        <div th:text="${'Said: ' + comment.getContent()}" class="font-weight-bolder" style="font-size: 24px"></div>
      </li>
    </ul>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Custom scripts -->
  <script th:src="@{/js/clean-blog.js}"></script>

</body>

</html>
