<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}">
    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
</head>
<body>
<script th:src="@{../static/js/login.js}"></script>
<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" th:action="@{/user/register}">
                <fieldset>
                    <h2>Register your account</h2>
                    <hr class="colorgraph">
                    <!--/*@thymesVar id="registerMsg" type=""*/-->
                    <p style="color: red" th:text="${registerMsg}" th:if="${not #strings.isEmpty(registerMsg)}"></p>
                    <div class="form-group">
                        <label for="nickname"></label><input type="text" name="nickname" id="nickname" class="form-control input-lg" placeholder="nickname">
                    </div>
                    <div class="form-group">
                        <label for="email"></label><input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label for="password"></label><input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword"></label><input type="password" name="confirmPassword" id="confirmPassword" class="form-control input-lg" placeholder="Confirm Password">
                    </div>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="row align-items-center">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Register!">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>