<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>springboot-thymeleaf demo</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>昵称</td>
        <td>邮箱</td>
        <td>密码</td>
    </tr>
    </thead>
    <tr th:each="item: ${users}">
        <td th:text="${item.userId}"></td>
        <td th:text="${item.nickname}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${item.password}"></td>
    </tr>
</table>
</body>
</html>